DB_HOST=localhost
DB_USER=root
DB_PWD=root123
DB_USEDB=fitness
DB_PORT=3306

JWT_SCRECT_KEY=7C0E06E0B1EC8323E8C60681C4FC76C367E4F9A50B22A20C929C4BC7F86C6A62

GMAIL_USER=
GMAIL_PASS=

CORS_ORIGIN=["http://localhost:8080"]